@model IEnumerable<ASP.NET_Lab5.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Main page for browsing through customers data<br/></h1>
<p>You can also add the customers data in here, more over you can also add, update, delete and view the data </p>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateOfPurchase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemPurchased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateOfPurchase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemPurchased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.customerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.customerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.customerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
